# Rust
/backend/target
/backend/Cargo.lock

# Node
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/.env*.local

# Environment files
.env

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

